<div class="flex flex-col gap-20 justify-center items-center p-4 h-full">
  <div class="w-full flex justify-center flex-col items-center gap-4">
    <!-- Logo area -->
    <div class="w-4/12 lg:w-2/12">
      <img src="/assets/images/Gamify(1).png" alt="" />
    </div>
    <div class="text-md flex items-center gap-2">
      <div>Register to continue</div>
      <span class="material-symbols-rounded"> login </span>
    </div>

    <!-- Form area -->
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      class="w-10/12 md:w-8/12 lg:w-3/12"
    >
      <!-- Name -->
      <div>
        <mat-form-field
          appearance="fill"
          class="w-full"
          hideRequiredMarker="true"
        >
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
          @if (nameValid() === 'empty') {
          <mat-error> Name cannot be empty </mat-error>
          } @else if (nameValid() === 'format') {
          <mat-error
            >Please input name in the correct
            <span
              class="underline cursor-pointer"
              [matTooltip]="nameToolTipInstructions"
              >format</span
            >.</mat-error
          >
          }
        </mat-form-field>
      </div>

      <!-- Email -->
      <div>
        <mat-form-field
          appearance="fill"
          class="w-full"
          hideRequiredMarker="true"
        >
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
          @if (emailValid() === 'empty') {
          <mat-error> Email cannot be empty </mat-error>
          } @else if (emailValid() === 'format') {
          <mat-error
            >Please input email in the correct
            <span
              class="underline cursor-pointer"
              [matTooltip]="emailToolTipInstructions"
              >format</span
            >.</mat-error
          >
          }
        </mat-form-field>
        <button
          class="w-full mt-2"
          mat-raised-button
          color="primary"
          [disabled]="!registerForm.valid"
        >
          Register
        </button>
        <div class="w-full flex justify-end">
          <div
            [routerLink]="['/auth']"
            class="underline mt-2 text-stone-700 cursor-pointer"
          >
            Log in
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
