<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Admin</span>
  <span class="example-spacer"></span>
  <button [routerLink]="['/admin/home']" mat-button class="example-icon favorite-icon flex gap-1 item-center" aria-label="Example icon-button with heart icon">
    <mat-icon>home</mat-icon>
    <div class="text-sm">Home</div>
  </button>
  <div>|</div>
  <button [routerLink]="['/admin/task']" mat-button class="example-icon flex gap-1 item-center" aria-label="Example icon-button with share icon">
    <mat-icon>task</mat-icon>
    <div class="text-sm">Activity</div>
  </button>
</mat-toolbar>
